/*variables de colores*/

gris_obscuro_a = hsl(240, 5%, 16%)
gris_obscuro_b = hsl(240, 7%, 11%)
gris_obscuro_c = hsl(0, 0%, 26%)	//hsl(199, 10%, 47%)
gris_obscuro_d = hsl(0, 0%, 20%)    //hsl(199, 12%, 42%)
gris_obscuro_trasp = rgba(18, 18, 18, .7)
gris_claro_a = hsl(0, 0%, 44%)
gris_claro_b = hsl(0, 0%, 38%)   

/*triada de colores*/
azul_baseClaro =#246ECC
azul_baseObscuro =#175BB2
rojo_ladrillo = #FF2B14
amarillo_claro =#D8FF2E
rojo_abscuro =#B22E20
/*fin variables de colores */

.Diplomas
	background #FFFFFF
	box-shadow 0px 2px 40px gris_obscuro_a inset

.Slider-cont
	box-sizing border-box
	overflow hidden
	position relative
	width 100%
	&Img
		font-size 0
		margin 1rem 0 
		transition all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
		width 1200vw
		&-Unit
			box-shadow 0px 0px 9px gris_obscuro_a
			display inline-block
			font-size 16em
			margin-right 10vw
			overflow hidden
			width 70vw
			& Img
				width 100%
	&Select 
		margin 1rem 0
		text-align center
		& label 
			background gris_obscuro_a
			border-radius 50%
			box-shadow 0 0 0 0rem azul_baseObscuro inset, 2px 2px 5px gris_obscuro_b
			cursor pointer
			display inline-block
			height 1.4rem
			margin-right 0.2rem
			transition all .9s ease
			width 1.4rem
	&Left,
	&Right
		border-radius 50%
		color gris_claro_a
		height 50px
		position absolute
		top 34%
		width 50px
		z-index 6
		& label
			cursor pointer
			height 100%
			opacity 0
			position absolute
			text-decoration none
			width 100%
			z-index -1
			&:hover
				animation 1.5s sombras infinite
	&Left
		left 5%
		& label:nth-of-type(12)
			opacity 1
			z-index 2
	&Right
		Right 5%
		& label:nth-of-type(2)
			opacity 1
			z-index 2
			
/*<para las flechas>*/
/*left*/
#uno:checked ~ .Slider-contLeft label:nth-of-type(12) ,
#dos:checked ~ .Slider-contLeft label:nth-of-type(1),
#tres:checked ~ .Slider-contLeft label:nth-of-type(2),
#cuatro:checked ~ .Slider-contLeft label:nth-of-type(3),
#cinco:checked ~ .Slider-contLeft label:nth-of-type(4),
#seis:checked ~ .Slider-contLeft label:nth-of-type(5),
#siete:checked ~ .Slider-contLeft label:nth-of-type(6),
#ocho:checked ~ .Slider-contLeft label:nth-of-type(7),
#nueve:checked ~ .Slider-contLeft label:nth-of-type(8),
#diez:checked ~ .Slider-contLeft label:nth-of-type(9),
#once:checked ~ .Slider-contLeft label:nth-of-type(10),
#doce:checked ~ .Slider-contLeft label:nth-of-type(11),
/*right*/
#uno:checked ~ .Slider-contRight label:nth-of-type(2) ,
#dos:checked ~ .Slider-contRight label:nth-of-type(3),
#tres:checked ~ .Slider-contRight label:nth-of-type(4),
#cuatro:checked ~ .Slider-contRight label:nth-of-type(5),
#cinco:checked ~ .Slider-contRight label:nth-of-type(6),
#seis:checked ~ .Slider-contRight label:nth-of-type(7),
#siete:checked ~ .Slider-contRight label:nth-of-type(8),
#ocho:checked ~ .Slider-contRight label:nth-of-type(9),
#nueve:checked ~ .Slider-contRight label:nth-of-type(10),
#diez:checked ~ .Slider-contRight label:nth-of-type(11),
#once:checked ~ .Slider-contRight label:nth-of-type(12),
#doce:checked ~ .Slider-contRight label:nth-of-type(1)
	opacity 1
	z-index 3

.icon-chevron-with-circle-left,
.icon-chevron-with-circle-right
	border-radius 50%
	color gris_claro_a
	font-size 3.2rem
/*</para las flechas>*/
/*</botones>*/
#uno:checked ~ .Slider-contImg 
	transform translateX(14vw)
#dos:checked ~ .Slider-contImg 
	transform translateX(-66vw)
#tres:checked ~ .Slider-contImg 
	transform translateX(-146vw)
#cuatro:checked ~ .Slider-contImg 
	transform translateX(-226vw)
#cinco:checked ~ .Slider-contImg 
	transform translateX(-306vw)
#seis:checked ~ .Slider-contImg 
	transform translateX(-386vw)
#siete:checked ~ .Slider-contImg 
	transform translateX(-466vw)
#ocho:checked ~ .Slider-contImg 
	transform translateX(-546vw)
#nueve:checked ~ .Slider-contImg 
	transform translateX(-626vw)
#diez:checked ~ .Slider-contImg 
	transform translateX(-706vw)
#once:checked ~ .Slider-contImg 
	transform translateX(-786vw)
#doce:checked ~ .Slider-contImg 
	transform translateX(-866vw)
/*</botones>*/
#uno:checked ~ p [for='uno'],
#dos:checked ~ p [for='dos'],
#tres:checked ~ p [for='tres'],
#cuatro:checked ~ p [for='cuatro'],
#cinco:checked ~ p [for='cinco'],
#seis:checked ~ p [for='seis'],
#siete:checked ~ p [for='siete'],
#ocho:checked ~ p [for='ocho'],
#nueve:checked ~ p [for='nueve'],
#diez:checked ~ p [for='diez'],
#once:checked ~ p [for='once'],
#doce:checked ~ p [for='doce']
	box-shadow 0 0 0 0.7rem azul_baseObscuro inset, 2px 2px 5px gris_obscuro_b
	
/*animacion para los botones de siguiente y atras*/	
@keyframes sombras {
	0%{
		box-shadow 0 0 10px azul_baseClaro inset, 0px 0px 3px gris_obscuro_d
	}50%{
		box-shadow 0 0 40px 40px azul_baseClaro inset, 0px 0px 30px gris_obscuro_d
		color white
		transform scale(1.3)
	}
}

@media screen and (min-width:650px)
	.Slider-cont
		&Img-Unit
			width 50vw
		&Left,
		&Right
			top 40

	#uno:checked ~ .Slider-contImg 
		transform translateX(24vw)
	#dos:checked ~ .Slider-contImg 
		transform translateX(-36vw)
	#tres:checked ~ .Slider-contImg 
		transform translateX(-96vw)
	#cuatro:checked ~ .Slider-contImg 
		transform translateX(-156vw)
	#cinco:checked ~ .Slider-contImg 
		transform translateX(-216vw)
	#seis:checked ~ .Slider-contImg 
		transform translateX(-276vw)
	#siete:checked ~ .Slider-contImg 
		transform translateX(-336vw)
	#ocho:checked ~ .Slider-contImg 
		transform translateX(-396vw)
	#nueve:checked ~ .Slider-contImg 
		transform translateX(-456vw)
	#diez:checked ~ .Slider-contImg 
		transform translateX(-516vw)
	#once:checked ~ .Slider-contImg 
		transform translateX(-576vw)
	#doce:checked ~ .Slider-contImg 
		transform translateX(-636vw)