@import "nib"
@import "normalize.styl"
@import "proyectos.styl"

/*variables de colores*/

gris_obscuro_a = hsl(240, 5%, 16%)
gris_obscuro_b = rgba(18, 18, 18, .75)
gris_obscuro = #999
/*triada de colores*/
azul_baseClaro =#246ECC
azul_baseObscuro =#175BB2
rojo_ladrillo = #FF2B14
amarillo_claro =#D8FF2E
rojo_abscuro =#B22E20
/*fin variables de colores */

/*estilos base*/
html, body 
	background rgba(77, 77, 77, 1)
	background linear-gradient(135deg, rgba(89, 89, 89, 1) 0%, rgba(18, 18, 18, 1) 12%, rgba(89, 89, 89, 1) 20%,rgba(77, 77, 77, 1) 25%,rgba(89, 89, 89, 1) 40%,rgba(18, 18, 18, .1) 70%, rgba(89, 89, 89, 1) 80%, rgba(18, 18, 18, 1) 88%, rgba(89, 89, 89, 1) 100%)
	// background gris_obscuro_a
	font-family 'Exo', sans-serif 
	font-size 16px
	color white
	height 100%
	width 100%
*
	margin 0
	padding 0
/*</estilos base*/

/*utilidades*/
.mostrar
	z-index: 5
.textTitle
	font-size 1.5em
	font-style italic
/*</utilidades*/

/*Header*/
.Header
	background-attachment fixed
	background-image: url("../img/space.jpg")
	background-size cover
	height 100%
	max-width 100%
	&-movile
		background rgba(gris_obscuro, .2)
		border-bottom 1px solid azul_baseClaro
		margin 0 2em
		overflow: hidden
		position relative
	&-title
		margin 0
		font-weight 100
		padding-left 0.5
	&-buttonMenu
		border-radius 0.5em
		margin 0.6em 0.5em 0 0
		position absolute
		right 0
		top 0

/*navegacion responsive*/
.Menu
	left -200px
	margin-top 4em
	position absolute
	top 0
	transition all 0.3s ease
	&-figure
		display none
		transition all 0.3s ease
	&-isActive
		left 0
	&-lista
		background gris_obscuro_a
		border-bottom 1px solid azul_baseClaro
		border-top 1px solid azul_baseClaro
		// border-radius 0.5em
		box-sizing border-box
		margin 0 auto
		width 200px
		position fixed
	&-item
		/*el relative y el overflow es para al animacion*/
		list-style-type none
		overflow hidden
		position relative
	&-link
		/*el relative es para la animacion*/
		color white
		cursor pointer
		display inline-block
		font-size 1em
		font-style italic
		padding 1em 0 1em 1em
		position relative
		text-decoration none
		user-select none
		width 100%
	&-animac
		/*clases para animar en el click Menu-animac y Menu-animate*/
		background azul_baseObscuro
		border-radius 100%
		display block
		position absolute
		transform scale(0)
	&-animate
		animation MenuAina 0.65s linear
@keyframes MenuAina{
	/*keyframes para animar el menu en el click*/
	100%{opacity: 0; transform: scale(2.5);}
}
/*</navegacion responsive*/

/*Avatar*/
.Avatar
	padding-top 2em
	font-style italic
	font-weight 100
	width 100%
	&-figure
		border: 1px solid azul_baseClaro
		border-radius 50%
		margin 0 auto
		margin-bottom 0.5em
		width 150px
		height 150px
		img
			border-radius 50%
			height 150px
			width 150px
	&-info
		margin 0 auto
		text-align center
	&-perfil
		display none
	&-lema
		margin 1em 0.5em 0 0.5em
/*</Avatar*/

/*myperfil*/
.Myperfil
	background url("../img/space.jpg")
	// background-size cover
	border-top 1px solid azul_baseClaro
	border-bottom 1px solid azul_baseClaro
	padding 0.5em
	text-align center	
/*</myperfil*/

@media screen and (min-width:720px)
	.Header-movile
		display none
	/*navegacion responsive*/
	.Menu
		border none
		height 54px
		left 0
		margin 0
		position fixed		
		width 100%
		&-figure
			border 1px solid gris_obscuro
			border-radius 50%
			display inline-block
			height 40px
			left 0.5em
			margin 0
			position absolute
			top 0.4em
			width 40px
		&-figure:hover
			transform rotate(360deg)
			transition 0.3s all ease
		&-figure img
			border-radius 50%
			height 100%
			width 100%
		&-lista
			height 53px
			width 100%
		&-item
			display: inline-block
			height 53px
			text-align center
			width 6em
		&-item:first-child
			margin-left 3.5em
		&-link
			font-size 1em
			padding-left 0
	/*</navegacion responsive*/
	/*Avatar*/

	.Avatar
		&-figure
			display none
		&-info
			font-size 2em
			margin 3em 0 0 2em
			text-align left
		&-perfil
			display block
			font-weight 100
			color gris_obscuro
		&-lema
			margin 2em 0.5em 0 2em 
			max-width 28em
			font-size 1rem
	/*</Avatar*/

	/*Myperfil*/
	/*</Myperfil*/	