@import "nib"
@import "normalize.styl"
@import "fonts.styl"
@import "Myperfil.styl"
@import "proyectos.styl"
@import "tecnologias.styl"

/*variables de colores*/

gris_obscuro_a = hsl(240, 5%, 16%)
gris_obscuro_b = hsl(240, 7%, 11%)
gris_obscuro_c = hsl(0, 0%, 26%)	//hsl(199, 10%, 47%)
gris_obscuro_d = hsl(0, 0%, 20%)    //hsl(199, 12%, 42%)
gris_obscuro_trasp = rgba(18, 18, 18, .7)
gris_claro_a = hsl(0, 0%, 44%)
gris_claro_b = hsl(0, 0%, 38%)   

/*triada de colores*/
azul_baseClaro =#246ECC
azul_baseObscuro =#175BB2
rojo_ladrillo = #FF2B14
amarillo_claro =#D8FF2E
rojo_abscuro =#B22E20
/*fin variables de colores */
html, body 
	background gris_obscuro_a
	color white
	font-family 'Exo', sans-serif 
	font-size 16px
*
	margin 0
	padding 0
/*</estilos base*/

/*utilidades*/
.U-scaleCeroCerrar
	transform rotate(360deg) scale(0)
.U-scaleUno
	transform scale(1)
.U-scaleCeroAbrir
	transform rotate(360deg) scale(0)
.U-mostrar
	z-index: 5
.U-opacity
	opacity 1
.U-top
	top -1000px
.U-textTitle
	font-size 1.5em
	font-style italic
.U-titlePrincipal
	padding-top 1em
	text-align center
	width 100%
.U-iconPrincipal
	color white
	font-size 2.5em
	margin-bottom 0.5em
	text-align center
	text-shadow 0 0 15px azul_baseObscuro
	width 100%
.U-textGray
	color gris_claro_a
.U-navSegundarios
	background linear-gradient(180deg, gris_obscuro_a 0%, gris_obscuro_b 80% )
	border-bottom 1px solid azul_baseClaro
	height 3.5em
	overflow: hidden
	position relative
	&-more
		font-style italic
		line-height 3.5em
		padding-left 1em
	&-button
		background linear-gradient(180deg, gris_obscuro_a 0%, gris_obscuro_b 80% )
		border 1px solid azul_baseClaro
		border-radius 0.3em
		color azul_baseClaro
		padding 0.5em 1em
		position absolute
		right 1em
		text-align center
		top 0.5em
		width 150px
/*</utilidades*/

/*Header*/
.Header
	background-attachment fixed
	background-image: url("../img/portada.jpg")
	background-position center
	background-repeat: no-repeat
	background-size cover
	max-width 100%
	overflow hidden
	padding-bottom 180px
	&-movile
		background: gris_obscuro_trasp_b
		border-bottom 1px solid azul_baseClaro
		overflow: hidden
		padding 1em
		position relative
	&-title
		font-weight 100
		margin 0
		padding-left 0.5
	&-buttonMenu
		background transparent
		border none
		border-radius 0.5em
		color white
		font-size 3em
		margin 0.2em 0.2em 0 0
		position absolute
		right 0
		top 0
		transition all 0.5s ease
		text-shadow 1px 1px 10px azul_baseObscuro

/*navegacion responsive*/
.Menu
	left -200px
	margin-top 4em
	position absolute
	top 0
	transition all 0.3s ease
	z-index: 6
	&-figure
		display none
		transition all 0.3s ease
	&-isActive
		left 0
	&-lista
		background gris_obscuro_a
		border-bottom 1px solid azul_baseClaro
		border-top 1px solid azul_baseClaro
		box-sizing border-box
		margin 0 auto
		position fixed
		width 200px
	&-item
		/*el relative y el overflow es para al animacion*/
		list-style-type none
		overflow hidden
		position relative
	&-link
		/*el relative es para la animacion*/
		color white
		cursor pointer
		display inline-block
		font-size 1em
		font-style italic
		padding 1em 0 1em 1em
		position relative
		text-decoration none
		user-select none
		width 100%
	&-animac
		/*clases para animar en el click Menu-animac y Menu-animate*/
		background azul_baseObscuro
		border-radius 100%
		display block
		position absolute
		transform scale(0)
	&-animate
		animation MenuAina 0.65s linear
@keyframes MenuAina{
	/*keyframes para animar el menu en el click*/
	100%{opacity: 0; transform: scale(2.5);}
}
/*</navegacion responsive*/

/*Avatar*/
.Avatar
	font-style italic
	font-weight 100
	padding-top 2em
	width 100%
	&-figure
		border-radius 50%
		border: 1px solid azul_baseClaro
		height 150px
		margin 0 auto
		margin-bottom 0.5em
		width 150px
		img
			border-radius 50%
			height 150px
			width 150px
	&-info
		margin 0 auto
		text-align center
	&-perfil
		display none
	&-lema
		margin 1em 0.5em 0 0.5em
/*</Avatar*/
/*</header*/

/*galeria*/
	/*todo lo que necesitas para crear la web profesional*/
.GaleriaConTotal
	background #FFFFFF
	box-shadow 0px 2px 40px gris_obscuro_a inset
	&-mensaje
		color gris_claro_a
		margin 0 auto
		margin-bottom 2em
		text-align center
		width 90%
	&-galeriaCont
		display flex
		flex-flow row wrap
		font-size 0
	&-galeriaContImg
		flex auto
		height 170px
		overflow hidden
		width 170px
		img
			min-height 170px
			width 100%
/*</galeria*/

/*responsiveImage*/
	/*imagen que esta despues de tecnologias*/
.ResponsiveImage
	background url("../img/explosion.jpg")
	background-attachment fixed
	background-position center
	background-repeat: no-repeat
	background-size cover
	&-Cont
		margin 0 auto
		width 80%
		img
			width 100%
/*</responsiveImage*/
/*redes*/
.redes
	margin-bottom 0.3em
	&-item
		display inline-block
		list-style none
		a
			color azul_baseObscuro
			font-size 1.5em
			margin 0 0.3em
			text-decoration none

/*</redes*/
/*Footer*/
.Footer
	background linear-gradient(180deg, gris_obscuro_a 0%, gris_obscuro_b 80% )
	&-cont
		margin 0 auto
		text-align center
		width 80%
	&-propiedad
		border-top 1px solid azul_baseClaro
/*</Footer*/

@media screen and (min-width:720px)
	.Header
		height 100vh
		&-movile
			display none
	/*navegacion responsive*/
	.Menu
		border none
		height 54px
		left 0
		margin 0
		position fixed		
		width 100%
		&-figure
			border 1px solid gris_obscuro_a
			border-radius 50%
			display inline-block
			height 40px
			left 0.5em
			margin 0
			position absolute
			top 0.4em
			width 40px
		&-figure:hover
			transform rotate(360deg)
			transition 0.3s all ease
		&-figure img
			border-radius 50%
			height 100%
			width 100%
		&-lista
			height 53px
			width 100%
		&-item
			display: inline-block
			height 53px
			text-align center
			width 6em
		&-item:first-child
			margin-left 3.5em
		&-link
			font-size 1em
			padding-left 0
	/*</navegacion responsive*/
	/*Avatar*/

	.Avatar
		&-figure
			display none
		&-info
			font-size 2em
			margin 3em 0 0 2em
			text-align left
		&-perfil
			color gris_obscuro
			display block
			font-weight 100
		&-lema
			font-size 1rem
			margin 2em 0.5em 0 2em 
			max-width 28em
	/*</Avatar*/
		
	/*galeria*/
	.GaleriaConTotal
		padding-bottom 5em
		&-galeriaCont
			margin 0 auto
			max-width 720px
	/*</galeria*/
@media screen and (min-width:1000px)
	/*galeria*/
	.GaleriaConTotal-galeriaCont
		margin 0 auto
		max-width 1000px
	/*</galeria*/