@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?54j82x');
	src:url('../fonts/icomoon.eot?54j82x#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?54j82x') format('truetype'),
		url('../fonts/icomoon.woff?54j82x') format('woff'),
		url('../fonts/icomoon.svg?54j82x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cogs:before {
	content: "\e906";
}
.icon-cancel:before {
	content: "\e907";
}
.icon-folder:before {
	content: "\e90e";
}
.icon-phone:before {
	content: "\e902";
}
.icon-medal:before {
	content: "\e90f";
}
.icon-lamp:before {
	content: "\e90c";
}
.icon-box:before {
	content: "\e900";
}
.icon-list:before {
	content: "\e908";
}
.icon-tools:before {
	content: "\e909";
}
.icon-stats:before {
	content: "\e901";
}
.icon-envelope:before {
	content: "\e910";
}
.icon-rocket:before {
	content: "\e90a";
}
.icon-target:before {
	content: "\e90d";
}
.icon-clipboard:before {
	content: "\e903";
}
.icon-ruler:before {
	content: "\e90b";
}
.icon-person:before {
	content: "\e253";
}
.icon-phone2:before {
	content: "\e904";
}
.icon-tablet-landscape:after {
	content: "\e905";
}
.icon-chevron-with-circle-left:before {
	content: "\e911";
}
.icon-chevron-with-circle-right:before {
	content: "\e912";
}
.icon-controller-paus:before {
	content: "\e913";
}
.icon-controller-play:before {
	content: "\e914";
}
.icon-facebook:before {
	content: "\e915";
}
.icon-google-plus3:before {
	content: "\e916";
}
.icon-twitter:before {
	content: "\e917";
}
.icon-github4:before {
	content: "\e918";
}
.icon-linkedin:before {
	content: "\e919";
}
.icon-codepen:before {
	content: "\e91a";
}

