/*variables de colores*/

gris_obscuro_a = hsl(240, 5%, 16%)
gris_obscuro_b = hsl(240, 7%, 11%)
gris_obscuro_c = hsl(0, 0%, 26%)	//hsl(199, 10%, 47%)
gris_obscuro_d = hsl(0, 0%, 20%)    //hsl(199, 12%, 42%)
gris_obscuro_trasp = rgba(18, 18, 18, .7)
gris_claro_a = hsl(0, 0%, 44%)    
gris_claro_b = hsl(0, 0%, 38%)
gris_claro_c = hsl(0, 0%, 64%)    
gris_claro_d = hsl(0, 0%, 58%)  

/*triada de colores*/
azul_baseClaro =#246ECC
azul_baseObscuro =#175BB2
rojo_ladrillo = #FF2B14
amarillo_claro =#D8FF2E
rojo_abscuro =#B22E20
/*fin variables de colores */
.Tecnologias
	background linear-gradient(120deg, gris_claro_a 0%, gris_claro_b 20%, gris_obscuro_c 40%, gris_obscuro_d 60%, gris_claro_b 80%, gris_claro_a 100%)
	background url("../img/10.png")
	background-attachment fixed
	background-position center
	background-size cover
	padding-bottom 2em
	max-height 100%
	&-cont
		display flex
		flex-wrap wrap
		justify-content space-around
		margin 0 auto
	&-contUnitario
		background-position center
		border-radius 50%
		box-shadow 0 0 0 20px rgba(255,255,255, .3) inset
		cursor pointer
		height 220px
		list-style none
		margin 0.5em
		position relative
		transition all 0.5s ease
		width 220px
		&:hover
			box-shadow  0 0 0 0px rgba(0, 0, 0, .5) inset, 0 0 10px white
		&:hover .Tecnologias-contUnitarioExterno
			opacity 0
			transform scale(0)
		&:hover .Tecnologias-contUnitarioInfo
			opacity 1
			transform scale(1)
	&-contUnitarioInterno
		background radial-gradient( gris_claro_a 0%, gris_claro_b 20%, gris_obscuro_c 40%, gris_obscuro_d 60%, gris_claro_b 80%, gris_claro_a 100%)
		border-radius 50%
		box-shadow  0 0 8px  gris_obscuro_a inset
		height 180px
		left 20px
		position absolute
		top 20px
		width 180px
	&-contUnitarioExterno
		backface-visibility hidden
		background-position center
		border-radius 50%
		height 100%
		position absolute
		transform scale(1)
		transition all 0.6s ease-in-out
		width 100%
	&-contUnitarioInfo
		background gris_claro_a
		border-radius 50%
		box-shadow  0 0 8px  gris_obscuro_a inset
		height 180px
		opacity 0
		transform scale(1.5)
		transition all 0.4s ease-in-out 0.3s
		width 180px
		&-title
			padding 0.7em 0
			text-align center
			text-shadow 1px 1px 1px gris_claro_a, 1px 1px 5px azul_baseObscuro
			text-transform uppercase
		&-Coment
			text-align center
		
.img-tec1
	background url("../img/tec/html5.png")
.img-tec2
	background url("../img/tec/css3.png")
.img-tec3
	background url("../img/tec/js.png")
.img-tec4
	background url("../img/tec/jquery.png")
.img-tec5
	background url("../img/tec/angular.jpg")
.img-tec6
	background url("../img/tec/ui-ux.png")
.img-tec7
	background url("../img/tec/github.png")
.img-tec8
	background url("../img/tec/preprocesadores.jpg")
.img-tec9
	background url("../img/tec/responsive.png")
	background-size cover
.img-tec10
	background url("../img/tec/mas.jpg")
.img-tecX1
	background url("../img/tec/react.jpg")
	background-size cover

.img-tec1,.img-tec2,.img-tec3,.img-tec4,.img-tec5,.img-tec6,.img-tec7,.img-tec8,.img-tec9,.img-tec10,.img-tecX1
	background-position center

.Tecnologias-mas
	background radial-gradient( gris_claro_a 0%, gris_claro_b 20%, gris_obscuro_c 40%, gris_obscuro_d 60%, gris_claro_b 80%, gris_claro_a 100%)
	background url("../img/fondoporyectos.jpg")
	background-attachment fixed
	background-position center
	background-repeat: no-repeat
	background-size cover
	display none
	flex-wrap wrap
	justify-content space-around
	overflow hidden
	padding-bottom 2em
	box-shadow -2px -11px 20px -5px gris_obscuro_a inset
	&Despliege
		opacity 0
		top -1000px
		transition 0.5s ease
			
@media screen and (min-width:720px)
	.Tecnologias-cont
		width 85%